.App {
  display: flex;
  flex-direction: column;
}

#content {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  align-self: center;
  color: #fff;
}

#form-account, #form-product {
  width: 100vw;
  border: 1px solid #000;
}

#form-account {
  background-color: #332E30;
  margin-bottom: 2rem;
}

#form-product {
  background-color: #33231E;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1rem;
}

.field label {
  align-self: flex-start;
}

.field input, .field select{
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}

button {
  padding: .5rem .75rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.validation {
  color: #f00;
  font-size: 1.2rem;
}

@media (min-width: 500px) {
  #form-account, #form-product {
    width: 480px;
  }
}

@media (min-width: 1200px) {
  #content {
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #form-account, #form-product {
    height: 400px;
    margin: 0;
  }
}